body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
     
    
    background-color: rgba(241, 250, 238, 0.4); 
}


table {
    width: 399px;
    height: 399px;
    border-collapse: collapse;
}
td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 15px solid rgba(69, 123, 157, 0.3);
    cursor: pointer;
}

.shape {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
}



tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}



td:hover {
    background-color: rgba(69, 123, 157, 0.1);
}



.d-none {
    display: none;
}

.player-panel {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
   
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.player-inaktive {
    opacity: 0.2;
}

.horizontal-line {
    position: absolute;
    height: 10px;
    width: 380px;
    background-color: rgba(69, 123, 157, 0.7);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 100;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
    width: 400px;
}

/* Horizontale Linen */
#line-0,
#line-1,
#line-2 {
    top: calc(50% - 5px);
    right: calc(50% - 190px);
}

/* Vertikale Linen */
#line-3,
#line-4,
#line-5 {
    top: calc(50% - 5px);
    left: calc(50% - 200px)
}

#line-6, #line-7 {
    width: 500px;
    top: calc(50% - 5px);
    right: calc(50% - 250px);
    transform: rotate(47deg) scaleX(0.0);
}

#line-7 {
    transform: rotate(-47deg) scaleX(0.0);
}




.game-over {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);

    }

    to {
        opacity: 1;
        transform: scale(0);
    }
}

.restart-btn {
    position: absolute;
    bottom: 130px;
    border: 1px solid rbga(0, 0, 0, 0.5);
    background-color: #1c0b7f;
    z-index: 9999;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: #463c7d;
}

@media (max-width: 400px) {
    table {
        width: 279px;
        height: 297px; 
    }

    td {
        width: 93px;
        height: 93px;
    }

    .shape {
        top: calc(50% - 35px);
        left: calc(50% - 35px);
        width: 70px;
        height: 70px;
    }

   .player-panel {
    font-size: 16px;
   }

    .player-panel img {
        height: 40px;
        width: 40px;
    }
    .player-panel div {
        margin-left: 8px;
    margin-right: 8px;
    }
    
   
}